body {
    background-color: #f0efef;
    font-family: sans-serif;
    line-height: 1.5;
}
main{

margin-left: 40px;

}
header {
    text-align: center;
}
.pu{
    margin-left: 60px;
    text-align: left;
}
.black {
    color: rgb(46, 45, 45);
}
address{
    text-align: right;
    margin-right: 60px;
    margin-top: 70px;
}
#quote{
    font-size: 18px;
}

h2 {
    margin-left: 80px;
}
